name: Run tests before merging
permissions:
  contents: read

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    branches:
      - master

jobs:
  ubuntu:
    name: 'Ubuntu (Node 24)'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29
      - uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8
        with:
          node-version: '24'
          registry-url: https://registry.npmjs.org/
      - uses: Aandreba/setup-binaryen@77f25f9d7d30f09667a2535888bf9516b31a4cd7
        with:
          version: 126
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Output rust version for educational purposes
        run: rustup --version
      - name: Cache
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - run: cargo clippy --all-features
      - run: cargo test --all-features
      - run: cd ecmascript && npm ci
      - run: cd ecmascript && npm run lint
      - run: cd ecmascript && npm test
        env:
          QUICK_BUILD: "true"
